@include media(xl) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    text-transform: uppercase;
  }

  @include column(1);
  @include column(2);
  @include column(3);
  @include column(4);
}

@include media(sm) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
  }

  @include column(2);
  @include column(1);

  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }

  .header {
    .container {
      flex-direction: column;
    }

    &-logo-box {
      margin-bottom: 10px;
    }

    &-logo-text {
      margin-top: -7px;
    }

    &-left-part {
      flex-direction: column;
    }

    &-navigation-items {
      flex-direction: column;
      align-items: flex-start;

      padding-left: 0;

      margin-left: 0;
      margin-bottom: 16px;
    }

    &-form-search {
      margin-top: 3px;
    }

    &-form-search-input {
      width: 100%;
    }
  }

  .page-description {
    height: auto;

    h1 {
      margin-top: 46px;
    }

    h2 {
      margin-top: 2px;
      margin-bottom: 14px;
    }

    &-form {
      display: block;
    }

    &-form > label > input {
      width: 100%;
    }

    &-text {
      font-size: 16px;
      line-height: 25px;
    }
  }

  .page-pricing {
    @include column(1);

    &-card-box {
      flex: 1 1 374px;
      row-gap: 50px;
      flex-wrap: wrap;

      min-width: 374px;
      justify-content: center;
    }

    h2 {
      margin-top: 0;
    }

    &-item {
      justify-content: center;

      min-width: 374px;
      height: 595px;

      background-position-y: -2px;
    }

    &-h3 {
      margin-top: 6px;
      margin-bottom: 191px;

      font-size: 16px;
    }

    .bg-card-1 {
      & > p {
        margin-bottom: 43px;
      }
    }

    .bg-card-2 {
      & > p {
        margin-bottom: 45px;
      }

      & > p.page-pricing-footer-card-text {
        width: 326px;
      }

      .page-pricing-footer-card-text {
        font-size: 13px;
      }
    }

    .bg-card-3 {
      & > p {
        margin-bottom: 45px;
      }
    }
  }

  .footer {
    height: auto;

    &-top-part {
      grid-template-columns: 1fr;
      grid-template-rows: 4fr;

      padding-bottom: 39px;
    }

    &-top-part > ul:not(:last-child) {
      margin-bottom: 30px;
    }

    &-navigation > li {
      display: block;
    }

    &-navigation > li:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .page-news {
    &-item {
      flex-direction: column;

      img {
        margin-right: 0;
        margin-bottom: 50px;

        width: 100%;
      }
    }

    &-h3 {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: capitalize;
    }

    &-p {
      margin-top: -12px;

      width: auto;

      line-height: 145%;
      font-size: 15.9px;
    }

    &-p2 {
      margin-bottom: 15px;
    }

    &-footer {
      margin-top: 0;
      margin-bottom: 14px;
    }

    &-footer:nth-of-type(2) {
      margin-top: 0;
      margin-bottom: 13px;
    }

    &-author {
      margin-bottom: 61px;
    }

    .btn-news2 {
      margin-top: -12px;
    }
  }

  .page-app {
    &-items-box {
      @include column(1);
    }

    &-item {
      &-right {
        padding-right: 20px;
        grid-row: 1 / 2;

        margin-bottom: 0;
      }

      &-left {
        margin-top: 0;

        & > p:nth-of-type(1) {
          margin-top: 10px;
        }

        & > p:nth-of-type(2) {
          margin-top: -2px;
        }
      }
    }
  }

  // Artist

  .page-description-artist {
    padding-top: 200px;
    padding-bottom: 200px;

    &-h1 {
      margin-top: 24px;
    }

    &-buttons-box > a {
      margin-bottom: 24px;
    }
  }

  // Discography

  .page-discography {
    // &-items-box {
    //   width: auto;
    // }

    &-items-box {
      grid-template-rows: repeat(3, max-content);
    }

    &-item-image {
      width: 137px;
      height: 137px;
    }

    &-info {
      margin-top: -6px;

      width: 142px;
    }
  }

  // Similar

  .page-similar {
    &-item-box {
      width: 137px;
    }

    &-item-image {
      margin-bottom: 19px;

      width: 137px;
      height: 137px;
    }

    &-items-box {
      column-gap: 0;
    }
  }
}
