.page-description-artist {
  @include padding-y(200);

  text-align: left;

  &-bg-artist {
    background-image: url("../images/Morten\ Harket.png");
    background-position: center;
    background-size: cover;
  }

  &-h1 {
    margin-bottom: 16px;
  }

  &-subtitle {
    margin-bottom: 48px;
  }

  &-buttons-box > a {
    padding: 20px 30px;
  }

  &-buttons-box > a img {
    display: inline-block;

    margin-right: 16px;

    width: 20px;
    height: 20px;

    filter: invert(100%);
  }
}
