.page-description {
  padding-bottom: 200px;

  // height: 100vh;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  text-align: center;

  h2 {
    margin-bottom: 31px;
  }

  &-text {
    margin-bottom: 17px;

    color: #fff;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    max-width: 570px;

    &-btn {
      padding: 20px 30px;

      width: 100%;
      min-height: 50px;
      flex-grow: 0;
      flex-shrink: 0;

      color: #fff;
      font-size: 13.3px;
      font-family: Arial, sans-serif;
      font-weight: 400;
      text-transform: uppercase;

      background-color: $color-green;

      border-radius: 5px;
    }
  }
  &-form > label > input {
    min-width: 270px;
    min-height: 50px;

    margin-bottom: 1.5rem;
    padding-left: 20px;

    color: #fff;

    background-color: transparent;

    border: 2px solid $color-dark-gray;
    border-radius: 3px;
  }

  &-form > label > input::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
}

.page-pricing {
  padding-top: 100px;

  color: #fff;

  text-align: center;

  &-card-box {
    // column-gap: 47px;
    justify-content: space-between;
  }

  &-h2 {
    margin-bottom: 69px;
  }

  &-item {
    max-width: 369px;

    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 16px;
  }

  &-h3 {
    margin-top: 24px;
    font-size: 24px;
    text-transform: uppercase;
  }

  &-value {
    margin-top: 200px;
    margin-bottom: 40px;
  }

  &-price {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 100%;
  }

  &-currency-uppercase {
    margin-left: 16px;

    display: inline-block;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;

    vertical-align: top;
  }

  .btn-price {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 319px;
    height: 66px;

    border-radius: 5px;
    border: 1px solid #fff;
  }

  &-footer-card-text {
    @include margin-y(64);
  }

  &-text {
    margin-top: 43px;
  }
}
