.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  &-navigation > li {
    display: inline-block;

    margin-right: 11px;
  }

  &-subscribe > ul > li {
    display: inline-flex;
    align-items: center;

    margin-right: 19px;
  }

  &-top-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 40px;

    padding-top: 61px;
    padding-bottom: 42px;

    .footer-box {
      margin-bottom: 30px;

      width: 270px;

      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;
    }

    ul > li {
      color: #e0e0e0;
      
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: initial;
      list-style: none;
    }

    ul  {
      padding-top: 16px;
    }
  }

  &-line {
    width: 100%;
    height: 2px;

    margin-bottom: 38px;

    background-color: $color-dark-gray;

    border: 1px solid $color-dark-gray;
  }

  &-bottom-part {
    padding-bottom: 49px;
  }
}
